In [1]:
#Importing the libraries
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [2]:
#Getting the dataset
dataset = pd.read_csv(r'C:\Users\KIIT\Desktop\final.csv')
dataset

,MSSubClass,MSZoning,LotFrontage,LotArea,HouseStyle,OverallQual,OverallCond,SalePrice
0,60,RL,65.0,8450,2Story,7,5,208500
1,20,RL,80.0,9600,1Story,6,8,181500
2,60,RL,68.0,11250,2Story,7,5,223500
3,70,RL,60.0,9550,2Story,7,5,140000
4,60,RL,84.0,14260,2Story,8,5,250000
...,...,...,...,...,...,...,...,...
1455,60,RL,62.0,7917,2Story,6,5,175000
1456,20,RL,85.0,13175,1Story,6,6,210000
1457,70,RL,66.0,9042,2Story,7,9,266500
1458,20,RL,68.0,9717,1Story,5,6,142125
1459,20,RL,75.0,9937,1Story,5,6,147500

In [3]:
dataset.columns[dataset.isna().any()]

Index(['LotFrontage'], dtype='object')

In [4]:
dataset.LotFrontage = dataset.LotFrontage.fillna(dataset.LotFrontage.mean())
dataset

,MSSubClass,MSZoning,LotFrontage,LotArea,HouseStyle,OverallQual,OverallCond,SalePrice
0,60,RL,65.0,8450,2Story,7,5,208500
1,20,RL,80.0,9600,1Story,6,8,181500
2,60,RL,68.0,11250,2Story,7,5,223500
3,70,RL,60.0,9550,2Story,7,5,140000
4,60,RL,84.0,14260,2Story,8,5,250000
...,...,...,...,...,...,...,...,...
1455,60,RL,62.0,7917,2Story,6,5,175000
1456,20,RL,85.0,13175,1Story,6,6,210000
1457,70,RL,66.0,9042,2Story,7,9,266500
1458,20,RL,68.0,9717,1Story,5,6,142125
1459,20,RL,75.0,9937,1Story,5,6,147500

In [5]:
#Mapping Salary data into Numerical Values Values


dataset['MSZoning'] = dataset['MSZoning'].map({'RL': 1, 'RM':2, 'FV':3, 'RH':4, 'C (all)':5}).astype(int)

dataset['HouseStyle'] = dataset['HouseStyle'].map({'1Story': 1, '2Story':2, '1.5Fin':3, '1.5Unf':4, '2.5Fin':5, '2.5Unf':6, 'SLvl':7, 'SFoyer':8}).astype(int)

print(dataset.head)

<bound method NDFrame.head of       MSSubClass  MSZoning  LotFrontage  LotArea  HouseStyle  OverallQual  \
0             60         1         65.0     8450           2            7
1             20         1         80.0     9600           1            6
2             60         1         68.0    11250           2            7
3             70         1         60.0     9550           2            7
4             60         1         84.0    14260           2            8
...          ...       ...          ...      ...         ...          ...
1455          60         1         62.0     7917           2            6
1456          20         1         85.0    13175           1            6
1457          70         1         66.0     9042           2            7
1458          20         1         68.0     9717           1            5
1459          20         1         75.0     9937           1            5

      OverallCond  SalePrice
0               5     208500
1               8     181500
2               5     223500
3               5     140000
4               5     250000
...           ...        ...
1455            5     175000
1456            6     210000
1457            9     266500
1458            6     142125
1459            6     147500

[1460 rows x 8 columns]>

In [6]:

X = dataset.drop('SalePrice',axis='columns')
X

,MSSubClass,MSZoning,LotFrontage,LotArea,HouseStyle,OverallQual,OverallCond
0,60,1,65.0,8450,2,7,5
1,20,1,80.0,9600,1,6,8
2,60,1,68.0,11250,2,7,5
3,70,1,60.0,9550,2,7,5
4,60,1,84.0,14260,2,8,5
...,...,...,...,...,...,...,...
1455,60,1,62.0,7917,2,6,5
1456,20,1,85.0,13175,1,6,6
1457,70,1,66.0,9042,2,7,9
1458,20,1,68.0,9717,1,5,6
1459,20,1,75.0,9937,1,5,6

In [8]:
Y=dataset.SalePrice
Y

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64

In [9]:
#Training
model = LinearRegression()
model.fit(X,Y)

LinearRegression()

In [10]:
#Prediction
a=[[20,1,80,9600,1,6,8]]
PredictedmodelResult = model.predict(a)
print(PredictedmodelResult)
#Example: 20	RL	80	9600	1Story	6	8

[183789.03563291]